
body {
    margin: 0;
    padding: 0;
    background: url('sky-nature-atmosphere-astronomical-object-night-star-893832-wallhere.com.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "Acme";
}

.container {
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    height: 600px; /* Set a height to the container */
}

button {
    align-self: top;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

button img {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    transition: transform 0.3s;
}

button img:hover {
    transform: scale(1.1);
}

h1 {
    text-shadow: 2px;
    text-decoration-color: #25235d;
    color: #72dcea; /* Change this color to your preferred color */
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
    transition: opacity 0.5s; /* Added transition for fade effect */
}

.fade-out {
    opacity: 0; /* Apply opacity 0 for fade out */
}

#rocket {
    position: absolute;
    width: 50px;
    bottom: 10px; /* Start at the bottom */
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.1s, left 0.1s;
}

#explosion {
    position: absolute;
    display: none;
}

.controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
}
.obstacle {
position: absolute;
width: 30px;
height: 60px;
background-color: red; /* Adjust as needed */
border-radius: 50%;
}
